<li class="menu-title">UI elements</li><!-- /.menu-title -->
<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
            class="menu-icon fa fa-cogs"></i>Op para Empleado<sup>*</sup></a>
    <ul class="sub-menu children dropdown-menu">
        <li><i class="fa fa-puzzle-piece"></i><a href="ui-buttons.html">Buttons</a></li>
        <li><i class="fa fa-id-badge"></i><a href="ui-badges.html">Badges</a></li>
        <li><i class="fa fa-bars"></i><a href="ui-tabs.html">Tabs</a></li>
    </ul>
</li>
<li class="menu-item-has-children dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
            class="menu-icon fa fa-table"></i>Tables</a>
    <ul class="sub-menu children dropdown-menu">
        <li><i class="fa fa-table"></i><a href="tables-basic.html">Basic Table</a></li>
        <li><i class="fa fa-table"></i><a href="tables-data.html">Data Table</a></li>
    </ul>
</li>